@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 255, 255, 255;
	--background-start-rgb: 0, 0, 0;
	--background-end-rgb: 0, 0, 0;
}

body {
	min-width: 100%;
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
	font-family: 'Be Vietnam Pro', sans-serif;
	overflow-x: hidden;
}

/* Custom Tailwind Styles */
@layer base {
	h1 {
		@apply text-2xl md:text-4xl;
	}
	p {
		@apply font-light;
	}
}
@layer components {
	.flex-center {
		@apply flex items-center justify-center;
	}
	.flex-start {
		@apply flex items-center justify-center;
	}
	.flex-between {
		@apply flex items-center justify-between;
	}
	.bg-backdrop {
		@apply relative overflow-x-hidden flex place-items-center before:absolute before:h-[300px] before:w-[480px] before:-translate-x-1/2 before:rounded-full before:blur-2xl before:content-[''] after:absolute after:-z-20 after:h-[180px] after:w-[240px] after:translate-x-1/3 after:bg-gradient-conic after:blur-2xl after:content-[''] before:bg-gradient-to-br before:from-transparent before:to-blue-700 before:opacity-10 after:from-sky-900 after:via-[#0141ff] after:opacity-40 before:lg:h-[360px];
	}
}
